<header>
    <div class="image">
        <h2><span>Práctica de Angular</span></h2>
        <img src="https://fondosmil.com/fondo/2318.jpg" alt="Imagen" />
  </div>
</header>
<body>
    
    <mat-grid-list cols="4"  style="height: 100%;">
        <mat-grid-tile [colspan]="3" style="height: 100%;">
            <div style="text-align: center;height: 100%;">
                Para la práctica de Angular se realizó las actividades vistas en la sección 1 y sección 2.
                Las actividades incluyen lo siguiente:
                <hr>
                <div class="comandos">
                    <ul>
                        <li>Generar un nuevo proyecto con routing</li>
                        <li>Seleccionar el estilo a usar Angular Material o Bootstrap</li>
                        <li>Creación de una nueva página para realizar un ruteo simple</li>
                        <li>Definir las rutas en el app-routing.module.ts</li>
                        <li>Agregar las rutas en el DOM</li>
                        <li>Crear componentes para intercambiar datos entre padres e hijos</li>
                    </ul>
                </div>
                <hr>
                Dos sesiones no pude asistir, pero el contendio de las unidades se encuentra de forma práctica en este deber.
            </div>
        </mat-grid-tile>
      </mat-grid-list>
    
</body>